<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
  <p appBasicHighlight>Style me with basic highlight</p>
  <p appBetterHighlight
     [defaultColor]="'transparent'"
     highlightColor="yellow">
    <!--we can do this, but be careful not to override any element property-->
    Style me with better highlight</p>

  <div *appUnless="false">
    hello from structural directive
  </div>
</div>
