<app-header
  (navigationSelected)="onNavigationSelected($event)"
></app-header>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-recipes
        *ngIf="pageIs(pages.RECIPES)"></app-recipes>
      <app-shopping-list *ngIf="pageIs(pages.SHOPPLING_LIST)"></app-shopping-list>
    </div>
  </div>
  <p appBasicHighlight>Style me with basic highlight</p>
  <p appBetterHighlight
     [defaultColor]="'transparent'"
     highlightColor="yellow">
    <!--we can do this, but be careful not to override any element property-->
    Style me with better highlight</p>
</div>
